In [33]:
library(tibble)
library(dplyr)

In [26]:
x1 = list(a=1, b=2, c=3)
x1

x2 = unlist(lst)
x2
class(x2)

x3 = unname(x2)
x3
class(x3)

data.frame(
    name = names(x2),
    value = x3
)

data_frame(
    name = names(x1),
    value = x1
)

$a
[1] 1

$b
[1] 2

$c
[1] 3

a b c
1 2 3

[1] "numeric"

[1] 1 2 3

[1] "numeric"

  name value
1 a    1
2 b    2
3 c    3

  name value
1 a    1
2 b    2
3 c    3

In [18]:
y = cbind.data.frame(name=names(x2), value=x3) 
class(y)
y

[1] "data.frame"

  name value
1 a    1
2 b    2
3 c    3

In [19]:
data.frame(x = 1:3, y = list(1:5, 1:10, 1:20))

ERROR: Error in data.frame(x = 1:3, y = list(1:5, 1:10, 1:20)): arguments imply differing number of rows: 3, 20

In [31]:
df <- tibble(x = 1:3, y = list(1:5, 1:10, 1:20))
df
colnames(df)
class(df)

  x y
1 1 1, 2, 3, 4, 5
2 2 1, 2, 3, 4, 5, 6, 7, 8, 9, 10
3 3 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20

[1] "x" "y"

[1] "tbl_df"     "tbl"        "data.frame"

In [29]:
x <- list(alpha = 'horrible', beta = 'list', gamma = 'column')

df <- data_frame(id = names(x), thing = x)
df
colnames(df)
class(df)

  id    thing
1 alpha horrible
2 beta  list
3 gamma column

[1] "id"    "thing"

[1] "tbl_df"     "tbl"        "data.frame"