In [2]:
library(purrr)  
library(ggplot2)
library(dplyr)
library(broom)
library(tidyr)

In [6]:
mtcars %>%
    split(.$cyl) %>%
    map(~ lm(mpg ~ wt, data = .)) %>%
    map(summary) %>%
    map_dbl("r.squared")

        4         6         8
0.5086326 0.4645102 0.4229655

In [7]:
x = mtcars %>% split(.$cyl)

class(x)
class(x[[1]])

[1] "list"

[1] "data.frame"

In [9]:
data(Fair, package = "Ecdat")
glimpse(Fair)
Fair %>% head

Observations: 601
Variables: 9
$ sex        <fctr> male, female, female, male, male, female, female, male,...
$ age        <dbl> 37, 27, 32, 57, 22, 32, 22, 57, 32, 22, 37, 27, 47, 22, ...
$ ym         <dbl> 10.00, 4.00, 15.00, 15.00, 0.75, 1.50, 0.75, 15.00, 15.0...
$ child      <fctr> no, no, yes, yes, no, no, no, yes, yes, no, yes, yes, y...
$ religious  <int> 3, 4, 1, 5, 2, 2, 2, 2, 4, 4, 2, 4, 5, 2, 4, 1, 2, 3, 2,...
$ education  <dbl> 18, 14, 12, 18, 17, 17, 12, 14, 16, 14, 20, 18, 17, 17, ...
$ occupation <int> 7, 6, 1, 6, 6, 5, 1, 4, 1, 4, 7, 6, 6, 5, 5, 5, 4, 5, 5,...
$ rate       <int> 4, 4, 4, 5, 3, 5, 3, 4, 2, 5, 2, 4, 4, 4, 4, 5, 3, 4, 5,...
$ nbaffairs  <dbl> 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,...

  sex    age ym    child religious education occupation rate nbaffairs
1 male   37  10.00 no    3         18        7          4    0
2 female 27   4.00 no    4         14        6          4    0
3 female 32  15.00 yes   1         12        1          4    0
4 male   57  15.00 yes   5         18        6          5    0
5 male   22   0.75 no    2         17        6          3    0
6 female 32   1.50 no    2         17        5          5    0

In [46]:
Fair %>% 
    select(-nbaffairs) %>%  # exclude outcome, leave only predictors 
    map(function (x) { lm(Fair$nbaffairs ~ x, data = Fair) }) %>% 
    map(summary) %>% 
    map_dbl("r.squared") -> tmp

class(tmp)
class(tmp %>% tidy)

tmp %>%
    tidy %>% 
    dplyr::arrange(desc(x)) %>% 
    rename(r.squared = x)

[1] "numeric"

[1] "tbl_df"     "tbl"        "data.frame"

  names      r.squared
1 rate       7.812718e-02
2 ym         3.490982e-02
3 religious  2.088064e-02
4 child      1.081809e-02
5 age        9.070125e-03
6 occupation 2.461327e-03
7 sex        1.377396e-04
8 education  5.941117e-06

In [10]:
data(Affairs, package = "AER")

glimpse(Affairs)
Affairs %>% head

Observations: 601
Variables: 9
$ affairs       <dbl> 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,...
$ gender        <fctr> male, female, female, male, male, female, female, ma...
$ age           <dbl> 37, 27, 32, 57, 22, 32, 22, 57, 32, 22, 37, 27, 47, 2...
$ yearsmarried  <dbl> 10.00, 4.00, 15.00, 15.00, 0.75, 1.50, 0.75, 15.00, 1...
$ children      <fctr> no, no, yes, yes, no, no, no, yes, yes, no, yes, yes...
$ religiousness <int> 3, 4, 1, 5, 2, 2, 2, 2, 4, 4, 2, 4, 5, 2, 4, 1, 2, 3,...
$ education     <dbl> 18, 14, 12, 18, 17, 17, 12, 14, 16, 14, 20, 18, 17, 1...
$ occupation    <int> 7, 6, 1, 6, 6, 5, 1, 4, 1, 4, 7, 6, 6, 5, 5, 5, 4, 5,...
$ rating        <int> 4, 4, 4, 5, 3, 5, 3, 4, 2, 5, 2, 4, 4, 4, 4, 5, 3, 4,...

   affairs gender age yearsmarried children religiousness education occupation
4  0       male   37  10.00        no       3             18        7
5  0       female 27   4.00        no       4             14        6
11 0       female 32  15.00        yes      1             12        1
16 0       male   57  15.00        yes      5             18        6
23 0       male   22   0.75        no       2             17        6
29 0       female 32   1.50        no       2             17        5
   rating
4  4
5  4
11 4
16 5
23 3
29 5

In [14]:
Affairs %>% select_if(is.numeric) %>% head

Affairs %>% 
  select_if(is.numeric) %>%
  map(~t.test(. ~ Affairs$gender)) -> results

class(results)
length(results)
results[[1]]

   affairs age yearsmarried religiousness education occupation rating
4  0       37  10.00        3             18        7          4
5  0       27   4.00        4             14        6          4
11 0       32  15.00        1             12        1          4
16 0       57  15.00        5             18        6          5
23 0       22   0.75        2             17        6          3
29 0       32   1.50        2             17        5          5

[1] "list"

[1] 7

	Welch Two Sample t-test

data:  . by Affairs$gender
t = -0.28733, df = 594.01, p-value = 0.774
alternative hypothesis: true difference in means is not equal to 0
95 percent confidence interval:
 -0.6068861  0.4519744
sample estimates:
mean in group female   mean in group male
            1.419048             1.496503

In [15]:
df <- Affairs %>% select_if(is.numeric)
test_results <- lapply(df, function(x) { t.test(x ~ Affairs$gender) })
test_results[[1]]

	Welch Two Sample t-test

data:  x by Affairs$gender
t = -0.28733, df = 594.01, p-value = 0.774
alternative hypothesis: true difference in means is not equal to 0
95 percent confidence interval:
 -0.6068861  0.4519744
sample estimates:
mean in group female   mean in group male
            1.419048             1.496503

In [24]:
Affairs %>% 
  select_if(is.numeric) %>%
  map(function(x) { t.test(x ~ Affairs$gender)$p.value })

$affairs
[1] 0.7739606

$age
[1] 2.848452e-06

$yearsmarried
[1] 0.458246

$religiousness
[1] 0.8513998

$education
[1] 9.772643e-24

$occupation
[1] 8.887471e-35

$rating
[1] 0.8533625

In [27]:
Affairs %>% 
  select_if(is.numeric) %>%
  map(~t.test(.x ~ Affairs$gender)$p.value)

$affairs
[1] 0.7739606

$age
[1] 2.848452e-06

$yearsmarried
[1] 0.458246

$religiousness
[1] 0.8513998

$education
[1] 9.772643e-24

$occupation
[1] 8.887471e-35

$rating
[1] 0.8533625