In [9]:
library(dplyr)
library(tidyr)

In [18]:
df <- data.frame(
    x = c('A', 'B'),
    y = c(3, 4),
    z = c(1, 2)
)

df

df %>% spread(x, y)

  x y z
1 A 3 1
2 B 4 2

  z A  B
1 1  3 NA
2 2 NA  4

In [11]:
df <- data.frame(
    x = c('A', 'B'),
    y = c(3, 4),
    z = c(1, 1)
)

df

df %>% spread(x, y)

  x y z
1 A 3 1
2 B 4 1

  z A B
1 1 3 4

In [12]:
df <- data.frame(
    x = c('A', 'B'),
    y = c(3, 4)
)

df

df %>% spread(x, y)

  x y
1 A 3
2 B 4

  A B
1 3 4