In [1]:
import os
import sys

if os.environ['PY_SOURCES'] not in sys.path:
    sys.path.append(os.environ['PY_SOURCES'])

from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [97]:
import numpy as np
import pandas as pd
import kaggle.house_prices.helpers as helpers

combined_dataset = helpers.load_data()

In [3]:
combined_dataset.shape
combined_dataset[combined_dataset['dataSource'] == 'train'].shape
combined_dataset[combined_dataset['dataSource'] == 'test'].shape

(2919, 82)

(1460, 82)

(1459, 82)

In [81]:
colnames = helpers.get_character_colnames(combined_dataset)
colnames.remove('dataSource')
colnames.append('SalePrice')

categ_data = combined_dataset[colnames]
categ_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2919 entries, 0 to 1458
Data columns (total 45 columns):
Alley            198 non-null object
BldgType         2919 non-null object
BsmtCond         2837 non-null object
BsmtExposure     2837 non-null object
BsmtFinType1     2840 non-null object
BsmtFinType2     2839 non-null object
BsmtQual         2838 non-null object
CentralAir       2919 non-null object
Condition1       2919 non-null object
Condition2       2919 non-null object
Electrical       2918 non-null object
ExterCond        2919 non-null object
ExterQual        2919 non-null object
Exterior1st      2918 non-null object
Exterior2nd      2918 non-null object
Fence            571 non-null object
FireplaceQu      1499 non-null object
Foundation       2919 non-null object
Functional       2917 non-null object
GarageCond       2760 non-null object
GarageFinish     2760 non-null object
GarageQual       2760 non-null object
GarageType       2762 non-null object
Heating          2919 non-null object
HeatingQC        2919 non-null object
HouseStyle       2919 non-null object
KitchenQual      2918 non-null object
LandContour      2919 non-null object
LandSlope        2919 non-null object
LotConfig        2919 non-null object
LotShape         2919 non-null object
MSSubClass       2919 non-null object
MSZoning         2915 non-null object
MasVnrType       2895 non-null object
MiscFeature      105 non-null object
Neighborhood     2919 non-null object
PavedDrive       2919 non-null object
PoolQC           10 non-null object
RoofMatl         2919 non-null object
RoofStyle        2919 non-null object
SaleCondition    2919 non-null object
SaleType         2918 non-null object
Street           2919 non-null object
Utilities        2917 non-null object
SalePrice        1460 non-null float64
dtypes: float64(1), object(44)
memory usage: 1.0+ MB

In [84]:
colnames = helpers.get_numeric_colnames(combined_dataset)
colnames.remove('Id')

numeric_data = combined_dataset[colnames]
numeric_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2919 entries, 0 to 1458
Data columns (total 36 columns):
1stFlrSF         2919 non-null int64
2ndFlrSF         2919 non-null int64
3SsnPorch        2919 non-null int64
BedroomAbvGr     2919 non-null int64
BsmtFinSF1       2918 non-null float64
BsmtFinSF2       2918 non-null float64
BsmtFullBath     2917 non-null float64
BsmtHalfBath     2917 non-null float64
BsmtUnfSF        2918 non-null float64
EnclosedPorch    2919 non-null int64
Fireplaces       2919 non-null int64
FullBath         2919 non-null int64
GarageArea       2918 non-null float64
GarageCars       2918 non-null float64
GarageYrBlt      2760 non-null float64
GrLivArea        2919 non-null int64
HalfBath         2919 non-null int64
KitchenAbvGr     2919 non-null int64
LotArea          2919 non-null int64
LotFrontage      2433 non-null float64
LowQualFinSF     2919 non-null int64
MasVnrArea       2896 non-null float64
MiscVal          2919 non-null int64
MoSold           2919 non-null int64
OpenPorchSF      2919 non-null int64
OverallCond      2919 non-null int64
OverallQual      2919 non-null int64
PoolArea         2919 non-null int64
SalePrice        1460 non-null float64
ScreenPorch      2919 non-null int64
TotRmsAbvGrd     2919 non-null int64
TotalBsmtSF      2918 non-null float64
WoodDeckSF       2919 non-null int64
YearBuilt        2919 non-null int64
YearRemodAdd     2919 non-null int64
YrSold           2919 non-null int64
dtypes: float64(12), int64(24)
memory usage: 843.8 KB

In [114]:
def entropy(col):
    freqs = col.value_counts(dropna=False) / len(col)
    return -np.sum(freqs * np.log2(freqs))

In [119]:
x = categ_data.drop('SalePrice', 1)\
    .apply(entropy).sort_values()
    
x.head(10)
x.tail()

Utilities      0.012627
PoolQC         0.038203
Street         0.038504
Condition2     0.106434
RoofMatl       0.138519
Heating        0.139775
MiscFeature    0.244488
LandSlope      0.303799
CentralAir     0.355183
Alley          0.423391
dtype: float64

BsmtFinType1    2.454724
Exterior1st     2.723429
Exterior2nd     2.800720
MSSubClass      2.920021
Neighborhood    4.212100
dtype: float64

In [120]:
x = numeric_data.drop('SalePrice', 1)\
    .apply(entropy).sort_values()
    
x.head(10)
x.tail()

PoolArea        0.057677
3SsnPorch       0.158769
LowQualFinSF    0.173265
KitchenAbvGr    0.280959
BsmtHalfBath    0.344808
MiscVal         0.374903
ScreenPorch     0.991907
HalfBath        1.010771
BsmtFullBath    1.077617
FullBath        1.173785
dtype: float64

TotalBsmtSF     9.348757
BsmtUnfSF       9.390885
1stFlrSF        9.601608
GrLivArea       9.882939
LotArea        10.400602
dtype: float64

In [121]:
combined_dataset[['SalePrice']]

      SalePrice
0      208500.0
1      181500.0
2      223500.0
3      140000.0
4      250000.0
5      143000.0
6      307000.0
7      200000.0
8      129900.0
9      118000.0
10     129500.0
11     345000.0
12     144000.0
13     279500.0
14     157000.0
15     132000.0
16     149000.0
17      90000.0
18     159000.0
19     139000.0
20     325300.0
21     139400.0
22     230000.0
23     129900.0
24     154000.0
25     256300.0
26     134800.0
27     306000.0
28     207500.0
29      68500.0
...         ...
1429        NaN
1430        NaN
1431        NaN
1432        NaN
1433        NaN
1434        NaN
1435        NaN
1436        NaN
1437        NaN
1438        NaN
1439        NaN
1440        NaN
1441        NaN
1442        NaN
1443        NaN
1444        NaN
1445        NaN
1446        NaN
1447        NaN
1448        NaN
1449        NaN
1450        NaN
1451        NaN
1452        NaN
1453        NaN
1454        NaN
1455        NaN
1456        NaN
1457        NaN
1458        NaN

[2919 rows x 1 columns]