In [1]:
import os
import sys

if os.environ['PY_SOURCES'] not in sys.path:
    sys.path.append(os.environ['PY_SOURCES'])

from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [97]:
import numpy as np
import pandas as pd
import kaggle.house_prices.helpers as helpers

combined_dataset = helpers.load_data()

In [3]:
combined_dataset.shape
combined_dataset[combined_dataset['dataSource'] == 'train'].shape
combined_dataset[combined_dataset['dataSource'] == 'test'].shape

(2919, 82)

(1460, 82)

(1459, 82)

In [81]:
colnames = helpers.get_character_colnames(combined_dataset)
colnames.remove('dataSource')
colnames.append('SalePrice')

categ_data = combined_dataset[colnames]
categ_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2919 entries, 0 to 1458
Data columns (total 45 columns):
Alley            198 non-null object
BldgType         2919 non-null object
BsmtCond         2837 non-null object
BsmtExposure     2837 non-null object
BsmtFinType1     2840 non-null object
BsmtFinType2     2839 non-null object
BsmtQual         2838 non-null object
CentralAir       2919 non-null object
Condition1       2919 non-null object
Condition2       2919 non-null object
Electrical       2918 non-null object
ExterCond        2919 non-null object
ExterQual        2919 non-null object
Exterior1st      2918 non-null object
Exterior2nd      2918 non-null object
Fence            571 non-null object
FireplaceQu      1499 non-null object
Foundation       2919 non-null object
Functional       2917 non-null object
GarageCond       2760 non-null object
GarageFinish     2760 non-null object
GarageQual       2760 non-null object
GarageType       2762 non-null object
Heating          2919 non-null object
HeatingQC        2919 non-null object
HouseStyle       2919 non-null object
KitchenQual      2918 non-null object
LandContour      2919 non-null object
LandSlope        2919 non-null object
LotConfig        2919 non-null object
LotShape         2919 non-null object
MSSubClass       2919 non-null object
MSZoning         2915 non-null object
MasVnrType       2895 non-null object
MiscFeature      105 non-null object
Neighborhood     2919 non-null object
PavedDrive       2919 non-null object
PoolQC           10 non-null object
RoofMatl         2919 non-null object
RoofStyle        2919 non-null object
SaleCondition    2919 non-null object
SaleType         2918 non-null object
Street           2919 non-null object
Utilities        2917 non-null object
SalePrice        1460 non-null float64
dtypes: float64(1), object(44)
memory usage: 1.0+ MB

In [84]:
colnames = helpers.get_numeric_colnames(combined_dataset)
colnames.remove('Id')

numeric_data = combined_dataset[colnames]
numeric_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2919 entries, 0 to 1458
Data columns (total 36 columns):
1stFlrSF         2919 non-null int64
2ndFlrSF         2919 non-null int64
3SsnPorch        2919 non-null int64
BedroomAbvGr     2919 non-null int64
BsmtFinSF1       2918 non-null float64
BsmtFinSF2       2918 non-null float64
BsmtFullBath     2917 non-null float64
BsmtHalfBath     2917 non-null float64
BsmtUnfSF        2918 non-null float64
EnclosedPorch    2919 non-null int64
Fireplaces       2919 non-null int64
FullBath         2919 non-null int64
GarageArea       2918 non-null float64
GarageCars       2918 non-null float64
GarageYrBlt      2760 non-null float64
GrLivArea        2919 non-null int64
HalfBath         2919 non-null int64
KitchenAbvGr     2919 non-null int64
LotArea          2919 non-null int64
LotFrontage      2433 non-null float64
LowQualFinSF     2919 non-null int64
MasVnrArea       2896 non-null float64
MiscVal          2919 non-null int64
MoSold           2919 non-null int64
OpenPorchSF      2919 non-null int64
OverallCond      2919 non-null int64
OverallQual      2919 non-null int64
PoolArea         2919 non-null int64
SalePrice        1460 non-null float64
ScreenPorch      2919 non-null int64
TotRmsAbvGrd     2919 non-null int64
TotalBsmtSF      2918 non-null float64
WoodDeckSF       2919 non-null int64
YearBuilt        2919 non-null int64
YearRemodAdd     2919 non-null int64
YrSold           2919 non-null int64
dtypes: float64(12), int64(24)
memory usage: 843.8 KB

In [114]:
def entropy(col):
    freqs = col.value_counts(dropna=False) / len(col)
    return -np.sum(freqs * np.log2(freqs))

In [139]:
x = (
    categ_data
    .drop('SalePrice', 1)
    .apply(entropy)
    .sort_values()
)
    
x.head(10)
x.tail()

Utilities      0.012627
PoolQC         0.038203
Street         0.038504
Condition2     0.106434
RoofMatl       0.138519
Heating        0.139775
MiscFeature    0.244488
LandSlope      0.303799
CentralAir     0.355183
Alley          0.423391
dtype: float64

BsmtFinType1    2.454724
Exterior1st     2.723429
Exterior2nd     2.800720
MSSubClass      2.920021
Neighborhood    4.212100
dtype: float64

In [138]:
x = (
    numeric_data
    .drop('SalePrice', 1)
    .apply(entropy)
    .sort_values())
    
x.head(10)
x.tail()

PoolArea        0.057677
3SsnPorch       0.158769
LowQualFinSF    0.173265
KitchenAbvGr    0.280959
BsmtHalfBath    0.344808
MiscVal         0.374903
ScreenPorch     0.991907
HalfBath        1.010771
BsmtFullBath    1.077617
FullBath        1.173785
dtype: float64

TotalBsmtSF     9.348757
BsmtUnfSF       9.390885
1stFlrSF        9.601608
GrLivArea       9.882939
LotArea        10.400602
dtype: float64

In [169]:
xxx = pd.melt(
    (
        combined_dataset[['SalePrice']]
        .dropna()
        .rename(columns={"SalePrice": "price"})
        .assign(**{'price.log':  lambda df: np.log(df.price)})
    ), 
    var_name='var', 
    value_name='value'
).assign(
    normed_value = lambda df: (
        df.groupby('var', group_keys=False)
          .apply(lambda df: (df.value - np.mean(df.value)) / np.std(df.value))
    )
)

xxx

            var          value  normed_value
0         price  208500.000000      0.347273
1         price  181500.000000      0.007288
2         price  223500.000000      0.536154
3         price  140000.000000     -0.515281
4         price  250000.000000      0.869843
5         price  143000.000000     -0.477505
6         price  307000.000000      1.587588
7         price  200000.000000      0.240241
8         price  129900.000000     -0.642461
9         price  118000.000000     -0.792306
10        price  129500.000000     -0.647497
11        price  345000.000000      2.066086
12        price  144000.000000     -0.464913
13        price  279500.000000      1.241308
14        price  157000.000000     -0.301216
15        price  132000.000000     -0.616017
16        price  149000.000000     -0.401953
17        price   90000.000000     -1.144883
18        price  159000.000000     -0.276032
19        price  139000.000000     -0.527873
20        price  325300.000000      1.818023
21        price  139400.000000     -0.522836
22        price  230000.000000      0.618002
23        price  129900.000000     -0.642461
24        price  154000.000000     -0.338993
25        price  256300.000000      0.949172
26        price  134800.000000     -0.580760
27        price  306000.000000      1.574996
28        price  207500.000000      0.334681
29        price   68500.000000     -1.415611
...         ...            ...           ...
2890  price.log      12.165980      0.355430
2891  price.log      11.875831     -0.371185
2892  price.log      11.074421     -2.378148
2893  price.log      12.136187      0.280820
2894  price.log      11.982929     -0.102981
2895  price.log      12.066811      0.107083
2896  price.log      11.699405     -0.813007
2897  price.log      12.885671      2.157745
2898  price.log      11.916389     -0.269618
2899  price.log      12.190959      0.417986
2900  price.log      12.160029      0.340528
2901  price.log      11.913713     -0.276318
2902  price.log      12.644328      1.553352
2903  price.log      11.703546     -0.802637
2904  price.log      12.098487      0.186411
2905  price.log      11.767568     -0.642308
2906  price.log      11.969717     -0.136067
2907  price.log      12.388394      0.912421
2908  price.log      11.626254     -0.996198
2909  price.log      11.429544     -1.488817
2910  price.log      11.820410     -0.509975
2911  price.log      12.567551      1.361081
2912  price.log      11.884489     -0.349503
2913  price.log      11.344507     -1.701774
2914  price.log      12.128111      0.260597
2915  price.log      12.072541      0.121434
2916  price.log      12.254863      0.578020
2917  price.log      12.493130      1.174708
2918  price.log      11.864462     -0.399656
2919  price.log      11.901583     -0.306694

[2920 rows x 3 columns]