In [8]:
library(tidyr)
library(dplyr)

In [11]:
cat1 = c('a', 'b', 'b', 'c')
cat2 = c('x', 'y', 'y', 'x')
var = c(1, 2, 3, 4)
df = data.frame(cat1, cat2, var)
df

  cat1 cat2 var
1 a    x    1
2 b    y    2
3 b    y    3
4 c    x    4

In [16]:
df %>% gather(cat, cat_val, -var)

Warning message:
“attributes are not identical across measure variables; they will be dropped”

  var cat  cat_val
1 1   cat1 a
2 2   cat1 b
3 3   cat1 b
4 4   cat1 c
5 1   cat2 x
6 2   cat2 y
7 3   cat2 y
8 4   cat2 x

In [6]:
stocks <- data.frame(
  time = as.Date('2009-01-01') + 0:9,
  X = rnorm(10, 0, 1),
  Y = rnorm(10, 0, 2),
  Z = rnorm(10, 0, 4)
)
stocks

   time       X           Y          Z
1  2009-01-01  2.28930805 -1.9874841 11.1508176
2  2009-01-02 -0.02618837  1.0241543  0.4171966
3  2009-01-03  0.34043851 -3.7034163  0.2191927
4  2009-01-04  0.06785552 -1.6095030  5.0192837
5  2009-01-05 -0.71022074  1.4279379 -3.8347617
6  2009-01-06 -0.47351585 -1.3773418  4.5372538
7  2009-01-07 -1.05649502  0.4471736 -3.4478312
8  2009-01-08 -1.50567313  1.2174667 -5.4656390
9  2009-01-09  1.35093474 -2.2609967  1.5151080
10 2009-01-10  0.22808898 -2.2719958 -4.2296547

In [9]:
stocks %>% gather(stock, price, -time)

   time       stock price
1  2009-01-01 X      2.28930805
2  2009-01-02 X     -0.02618837
3  2009-01-03 X      0.34043851
4  2009-01-04 X      0.06785552
5  2009-01-05 X     -0.71022074
6  2009-01-06 X     -0.47351585
7  2009-01-07 X     -1.05649502
8  2009-01-08 X     -1.50567313
9  2009-01-09 X      1.35093474
10 2009-01-10 X      0.22808898
11 2009-01-01 Y     -1.98748414
12 2009-01-02 Y      1.02415432
13 2009-01-03 Y     -3.70341625
14 2009-01-04 Y     -1.60950303
15 2009-01-05 Y      1.42793787
16 2009-01-06 Y     -1.37734176
17 2009-01-07 Y      0.44717357
18 2009-01-08 Y      1.21746674
19 2009-01-09 Y     -2.26099670
20 2009-01-10 Y     -2.27199581
21 2009-01-01 Z     11.15081760
22 2009-01-02 Z      0.41719663
23 2009-01-03 Z      0.21919269
24 2009-01-04 Z      5.01928373
25 2009-01-05 Z     -3.83476169
26 2009-01-06 Z      4.53725379
27 2009-01-07 Z     -3.44783123
28 2009-01-08 Z     -5.46563897
29 2009-01-09 Z      1.51510801
30 2009-01-10 Z     -4.22965466