https://stackoverflow.com/questions/41880796/grouped-multicolumn-gather-with-dplyr-tidyr-purrr

In [2]:
library(dplyr)
library(tidyr)

In [4]:
have <- data_frame(gene=rep(c("gX", "gY"), each=2),
                   sample=rep(c("s1", "s2"), 2),
                   genotype1=c("AA", "AA", "GG", "GG"),
                   genotype2=c("AC", "AC", "GT", "GT"),
                   genotype3=c("CC", "CC", "TT", "TT"),
                   freq1=c(.8,.9, .7, .6),
                   freq2=c(.15,.1, .2, .35),
                   freq3=c(.05,0, .1, .05))
have

  gene sample genotype1 genotype2 genotype3 freq1 freq2 freq3
1 gX   s1     AA        AC        CC        0.8   0.15  0.05
2 gX   s2     AA        AC        CC        0.9   0.10  0.00
3 gY   s1     GG        GT        TT        0.7   0.20  0.10
4 gY   s2     GG        GT        TT        0.6   0.35  0.05

In [10]:
have %>%
gather(variable, value, -gene, -sample) %>% 
arrange(gene, sample, variable)

   gene sample variable  value
1  gX   s1     freq1     0.8
2  gX   s1     freq2     0.15
3  gX   s1     freq3     0.05
4  gX   s1     genotype1 AA
5  gX   s1     genotype2 AC
6  gX   s1     genotype3 CC
7  gX   s2     freq1     0.9
8  gX   s2     freq2     0.1
9  gX   s2     freq3     0
10 gX   s2     genotype1 AA
11 gX   s2     genotype2 AC
12 gX   s2     genotype3 CC
13 gY   s1     freq1     0.7
14 gY   s1     freq2     0.2
15 gY   s1     freq3     0.1
16 gY   s1     genotype1 GG
17 gY   s1     genotype2 GT
18 gY   s1     genotype3 TT
19 gY   s2     freq1     0.6
20 gY   s2     freq2     0.35
21 gY   s2     freq3     0.05
22 gY   s2     genotype1 GG
23 gY   s2     genotype2 GT
24 gY   s2     genotype3 TT

# Group By

In [4]:
df = data_frame(
    categ = c('a', 'a', 'b', NA, NA),
    x = c(1, 2, 3, 4, 5)
)

df %>% group_by(categ) %>% summarise(mean = mean(x))

  categ mean
1 a     1.5
2 b     3.0
3 NA    4.5

In [19]:
## GroupBy + arr?ange
set.seed(1)

df <- 
tribble(
    ~AA,  ~BB,  ~X,
    'a',   'x',   1,
    'a',   'x',   2,
    'a',   'y',   3,
    'a',   'y',   4,
    'a',   'y',   4.2,
    'b',   'x',   5,
    'b',   'x',   6,
    'b',   'y',   7,
    'b',   'y',   8
)


df <- df[sample(nrow(df)),]
df

  AA BB X
1 a  y  3.0
2 b  y  8.0
3 a  y  4.2
4 b  x  5.0
5 a  x  2.0
6 a  y  4.0
7 b  y  7.0
8 b  x  6.0
9 a  x  1.0

In [20]:
df %>% 
group_by(AA, BB) %>%
arrange(X)

  AA BB X
1 a  x  1.0
2 a  x  2.0
3 a  y  3.0
4 a  y  4.0
5 a  y  4.2
6 b  x  5.0
7 b  x  6.0
8 b  y  7.0
9 b  y  8.0