In [5]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"
%load_ext rpy2.ipython

In [1]:
import numpy as np
import pandas as pd

In [7]:
%%R

library(dplyr)

In [12]:
data = pd.DataFrame(
    [
        ('x', 'cat',   'r2',   0.8),
        ('y', 'cat',   'r2',   0.5),
        ('z', 'cat',   'F',    20),
        ('u', 'cat',   'F',    30),
        ('w', 'num',   'r2',   0.3),
        ('t', 'num',   'r2',   0.5),
    ], 
    columns=['var', 'type', 'metric', 'value']
)

data

  var type metric  value
0   x  cat     r2    0.8
1   y  cat     r2    0.5
2   z  cat      F   20.0
3   u  cat      F   30.0
4   w  num     r2    0.3
5   t  num     r2    0.5

In [13]:
%%R -i data

data %>% group_by(type, metric) %>% mutate(normed = value / max(value))

# A tibble: 6 x 5
# Groups:   type, metric [3]
    var  type metric value    normed
  <chr> <chr>  <chr> <dbl>     <dbl>
1     x   cat     r2   0.8 1.0000000
2     y   cat     r2   0.5 0.6250000
3     z   cat      F  20.0 0.6666667
4     u   cat      F  30.0 1.0000000
5     w   num     r2   0.3 0.6000000
6     t   num     r2   0.5 1.0000000

In [17]:
x = data.groupby(['type', 'metric'])['value'].transform(lambda x: x / np.max(x))
x

data.assign(normed=x)

0    1.000000
1    0.625000
2    0.666667
3    1.000000
4    0.600000
5    1.000000
Name: value, dtype: float64

  var type metric  value    normed
0   x  cat     r2    0.8  1.000000
1   y  cat     r2    0.5  0.625000
2   z  cat      F   20.0  0.666667
3   u  cat      F   30.0  1.000000
4   w  num     r2    0.3  0.600000
5   t  num     r2    0.5  1.000000

In [24]:
_ = data.groupby(['type', 'metric'])['value'].transform(lambda x: print(x))

print('======')

_ = data.groupby(['type', 'metric'])['value'].transform(lambda x: print(type(x)))

2    20.0
3    30.0
Name: (cat, F), dtype: float64
0    0.8
1    0.5
Name: (cat, r2), dtype: float64
4    0.3
5    0.5
Name: (num, r2), dtype: float64
======
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>

In [25]:
_ = data.groupby(['type', 'metric']).transform(lambda x: print(x))

print('======')

_ = data.groupby(['type', 'metric']).transform(lambda x: print(type(x)))

2    z
3    u
Name: var, dtype: object
2    20
3    30
Name: value, dtype: object
  var  value
2   z   20.0
3   u   30.0
0    x
1    y
Name: var, dtype: object
0    0.8
1    0.5
Name: value, dtype: object
4    w
5    t
Name: var, dtype: object
4    0.3
5    0.5
Name: value, dtype: object
======
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>

In [27]:
_ = data.groupby(['type', 'metric']).apply(lambda x: print(x))

print('======')

_ = data.groupby(['type', 'metric']).apply(lambda x: print(type(x)))

  var type metric  value
2   z  cat      F   20.0
3   u  cat      F   30.0
  var type metric  value
2   z  cat      F   20.0
3   u  cat      F   30.0
  var type metric  value
0   x  cat     r2    0.8
1   y  cat     r2    0.5
  var type metric  value
4   w  num     r2    0.3
5   t  num     r2    0.5
======
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>

In [30]:
_ = data.groupby(['type', 'metric'])['value'].apply(lambda x: print(x))

print('======')

_ = data.groupby(['type', 'metric'])['value'].apply(lambda x: print(type(x)))

2    20.0
3    30.0
Name: (cat, F), dtype: float64
0    0.8
1    0.5
Name: (cat, r2), dtype: float64
4    0.3
5    0.5
Name: (num, r2), dtype: float64
======
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>

In [34]:
x = data.groupby(['type', 'metric'])['value'].apply(lambda x: x / np.max(x))
x

data.assign(normed=x)

0    1.000000
1    0.625000
2    0.666667
3    1.000000
4    0.600000
5    1.000000
Name: value, dtype: float64

  var type metric  value    normed
0   x  cat     r2    0.8  1.000000
1   y  cat     r2    0.5  0.625000
2   z  cat      F   20.0  0.666667
3   u  cat      F   30.0  1.000000
4   w  num     r2    0.3  0.600000
5   t  num     r2    0.5  1.000000