In [1]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [2]:
import numpy as np
import pandas as pd

In [3]:
df = pd.DataFrame(
    [
        ('a', 10),
        ('a', 12),
        ('b', 20),
        ('b', 22),
        ('c', 30),
        ('c', 32),
    ], 
    columns=['var', 'rating']
)
df

  var  rating
0   a      10
1   a      12
2   b      20
3   b      22
4   c      30
5   c      32

In [23]:
(
    df
    .assign(
        id=lambda df: df.groupby('var').cumcount()
    )
    .pivot(
        index='id',
        columns='var', 
        values='rating'
    )
    .reset_index()
    .drop(columns=['id'])
)

var   a   b   c
0    10  20  30
1    12  22  32

In [28]:
(
    df
    .assign(
        id=lambda df: df.groupby('var').cumcount()
    )
    .set_index(['var', 'id'])
    .unstack(0)
)

    rating
var      a   b   c
id
0       10  20  30
1       12  22  32