In [2]:
getwd()
if ( is.null(environment()$this_notebook_dir) ) {
    this_notebook_dir <- getwd()
    setwd(paste0(getwd(), '/..'))
}
getwd()

[1] "/mnt/hdd/develop/kaggle/house-prices/R"

[1] "/mnt/hdd/develop/kaggle/house-prices/R"

In [4]:
source('helpers.R')
source('validation_utils.R')

kaggle.house.loadLibraries()
data <- kaggle.house.loadData()

training <- data$train
testing <- data$test

c(dim(training), dim(testing))

[1] 1460   81 1459   80

In [6]:
training %>% purrr::map(~is.character(.)) %>% purrr::keep(~.) %>% names %>% sort

 [1] "Alley"         "BldgType"      "BsmtCond"      "BsmtExposure"
 [5] "BsmtFinType1"  "BsmtFinType2"  "BsmtQual"      "CentralAir"
 [9] "Condition1"    "Condition2"    "Electrical"    "ExterCond"
[13] "Exterior1st"   "Exterior2nd"   "ExterQual"     "Fence"
[17] "FireplaceQu"   "Foundation"    "Functional"    "GarageCond"
[21] "GarageFinish"  "GarageQual"    "GarageType"    "Heating"
[25] "HeatingQC"     "HouseStyle"    "KitchenQual"   "LandContour"
[29] "LandSlope"     "LotConfig"     "LotShape"      "MasVnrType"
[33] "MiscFeature"   "MSZoning"      "Neighborhood"  "PavedDrive"
[37] "PoolQC"        "RoofMatl"      "RoofStyle"     "SaleCondition"
[41] "SaleType"      "Street"        "Utilities"

In [7]:
training %>% group_by(Alley) %>% count

tranform.Alley <- function (df, remove=T) {
    df <- df %>% mutate(has_alley_access = ifelse(!is.na(Alley), 1, 0))
    if ( remove ) {
        df$Alley <- NULL
    }
    df
}

tranformed <- tranform.Alley(training, remove=F)
tranformed %>% group_by(has_alley_access, Alley) %>% count

  Alley n
1 Grvl    50
2 Pave    41
3 NA    1369

  has_alley_access Alley n
1 0                NA    1369
2 1                Grvl    50
3 1                Pave    41

In [8]:
training %>% group_by(CentralAir) %>% count

tranform.CentralAir <- function (df, remove=T) {
    df <- df %>% mutate(has_central_air = ifelse(CentralAir == 'Y', 1, 0))
    if ( remove ) {
        df$CentralAir <- NULL
    }
    df
}

tranformed <- tranform.CentralAir(training, remove=F)
tranformed %>% group_by(has_central_air, CentralAir) %>% count

  CentralAir n
1 N            95
2 Y          1365

  has_central_air CentralAir n
1 0               N            95
2 1               Y          1365

In [9]:
training %>% group_by(Heating) %>% count

tranform.Heating <- function (df, remove=T) {
    df <- df %>% mutate(heating_air_furnace = ifelse(Heating == 'GasA', 1, 0))
    if ( remove ) {
        df$Heating <- NULL
    }
    df
}

tranformed <- tranform.Heating(training, remove=F)
tranformed %>% group_by(heating_air_furnace, Heating) %>% count

  Heating n
1 Floor      1
2 GasA    1428
3 GasW      18
4 Grav       7
5 OthW       2
6 Wall       4

  heating_air_furnace Heating n
1 0                   Floor      1
2 0                   GasW      18
3 0                   Grav       7
4 0                   OthW       2
5 0                   Wall       4
6 1                   GasA    1428

In [10]:
training %>% group_by(LandContour) %>% count

tranform.LandContour <- function (df, remove=T) {
    df <- df %>% mutate(is_land_level = ifelse(LandContour == 'Lvl', 1, 0))
    if ( remove ) {
        df$Heating <- NULL
    }
    df
}

tranformed <- tranform.LandContour(training, remove=F)
tranformed %>% group_by(is_land_level, LandContour) %>% count

  LandContour n
1 Bnk           63
2 HLS           50
3 Low           36
4 Lvl         1311

  is_land_level LandContour n
1 0             Bnk           63
2 0             HLS           50
3 0             Low           36
4 1             Lvl         1311

In [11]:
training %>% group_by(LotShape) %>% count

tranform.LotShape <- function (df, remove=T) {
    df <- df %>% mutate(is_lotshape_regular = ifelse(LotShape == 'Reg', 1, 0))
    if ( remove ) {
        df$LotShape <- NULL
    }
    df
}

tranformed <- tranform.LotShape(training, remove=F)
tranformed %>% group_by(is_lotshape_regular, LotShape) %>% count

  LotShape n
1 IR1      484
2 IR2       41
3 IR3       10
4 Reg      925

  is_lotshape_regular LotShape n
1 0                   IR1      484
2 0                   IR2       41
3 0                   IR3       10
4 1                   Reg      925

In [12]:
training %>% group_by(MiscFeature) %>% count

tranform.MiscFeature <- function (df, remove=T) {
    df <- df %>% mutate(has_misc_feature = ifelse(!is.na(MiscFeature), 1, 0))
    if ( remove ) {
        df$MiscFeature <- NULL
    }
    df
}

tranformed <- tranform.MiscFeature(training, remove=F)
tranformed %>% group_by(has_misc_feature, MiscFeature) %>% count

  MiscFeature n
1 Gar2           2
2 Othr           2
3 Shed          49
4 TenC           1
5 NA          1406

  has_misc_feature MiscFeature n
1 0                NA          1406
2 1                Gar2           2
3 1                Othr           2
4 1                Shed          49
5 1                TenC           1

In [14]:
training %>% group_by(PavedDrive) %>% count

tranform.PavedDrive <- function (df, remove=T) {
    df <- df %>% mutate(has_paved_drive = ifelse(PavedDrive == 'Y', 1, 0))
    if ( remove ) {
        df$PavedDrive <- NULL
    }
    df
}

tranformed <- tranform.PavedDrive(training, remove=F)
tranformed %>% group_by(has_paved_drive, PavedDrive) %>% count

  PavedDrive n
1 N            90
2 P            30
3 Y          1340

  has_paved_drive PavedDrive n
1 0               N            90
2 0               P            30
3 1               Y          1340

In [17]:
training %>% group_by(PoolQC) %>% count

tranform.PoolQC <- function (df, remove=T) {
    df <- df %>% mutate(has_pool = ifelse(!is.na(PoolQC), 1, 0))
    if ( remove ) {
        df$PoolQC <- NULL
    }
    df
}

tranformed <- tranform.PoolQC(training, remove=F)
tranformed %>% group_by(has_pool, PoolQC) %>% count

  PoolQC n
1 Ex        2
2 Fa        2
3 Gd        3
4 NA     1453

  has_pool PoolQC n
1 0        NA     1453
2 1        Ex        2
3 1        Fa        2
4 1        Gd        3

In [21]:
training %>% group_by(RoofMatl) %>% count

tranform.RoofMatl <- function (df, remove=T) {
    df <- df %>% mutate(has_standard_roof_material = ifelse(RoofMatl == 'CompShg', 1, 0))
    if ( remove ) {
        df$RoofMatl <- NULL
    }
    df
}

tranformed <- tranform.RoofMatl(training, remove=F)
tranformed %>% group_by(has_standard_roof_material, RoofMatl) %>% count

  RoofMatl n
1 ClyTile     1
2 CompShg  1434
3 Membran     1
4 Metal       1
5 Roll        1
6 Tar&Grv    11
7 WdShake     5
8 WdShngl     6

  has_standard_roof_material RoofMatl n
1 0                          ClyTile     1
2 0                          Membran     1
3 0                          Metal       1
4 0                          Roll        1
5 0                          Tar&Grv    11
6 0                          WdShake     5
7 0                          WdShngl     6
8 1                          CompShg  1434

In [26]:
training %>% group_by(Street) %>% count

tranform.Street <- function (df, remove=T) {
    df <- df %>% mutate(is_street_paved = ifelse(Street == 'Pave', 1, 0))
    if ( remove ) {
        df$Street <- NULL
    }
    df
}

tranformed <- tranform.Street(training, remove=F)
tranformed %>% group_by(is_street_paved, Street) %>% count

  Street n
1 Grvl      6
2 Pave   1454

  is_street_paved Street n
1 0               Grvl      6
2 1               Pave   1454

In [27]:
training %>% purrr::map(~is.character(.)) %>% purrr::keep(~.) %>% names %>% sort

 [1] "Alley"         "BldgType"      "BsmtCond"      "BsmtExposure"
 [5] "BsmtFinType1"  "BsmtFinType2"  "BsmtQual"      "CentralAir"
 [9] "Condition1"    "Condition2"    "Electrical"    "ExterCond"
[13] "Exterior1st"   "Exterior2nd"   "ExterQual"     "Fence"
[17] "FireplaceQu"   "Foundation"    "Functional"    "GarageCond"
[21] "GarageFinish"  "GarageQual"    "GarageType"    "Heating"
[25] "HeatingQC"     "HouseStyle"    "KitchenQual"   "LandContour"
[29] "LandSlope"     "LotConfig"     "LotShape"      "MasVnrType"
[33] "MiscFeature"   "MSZoning"      "Neighborhood"  "PavedDrive"
[37] "PoolQC"        "RoofMatl"      "RoofStyle"     "SaleCondition"
[41] "SaleType"      "Street"        "Utilities"