In [2]:
setwd(paste0(Sys.getenv('R_SOURCES'), '/house_prices'))
source('main.R')
house_prices$helpers$import_libs()

combined_dataset <-
    house_prices$helpers$load_data() %>%
    (house_prices$outliers$remove_outliers) %>%
    (house_prices$missing$fix_all) %>%
    select(-Id)

test_that("should be no NA values except SalePrice column", {
    expect_equal(sum(is.na(combined_dataset %>% select(-SalePrice))), 0)
})

In [8]:
combined_dataset %>%
select(-SalePrice) %>%
select_if(is.numeric) %>%
gather(var, x) %>%
filter(!is.na(x)) %>%
mutate(
    log = log(x + 1),
    sqrt = sqrt(x)
) -> df1

df1 %>% head

  var         x  log      sqrt
1 LotFrontage 65 4.189655 8.062258
2 LotFrontage 80 4.394449 8.944272
3 LotFrontage 68 4.234107 8.246211
4 LotFrontage 60 4.110874 7.745967
5 LotFrontage 84 4.442651 9.165151
6 LotFrontage 85 4.454347 9.219544

In [61]:
df1 %>%
gather(tran, value, -var) %>%
group_by(var, tran) %>%
mutate(
    value_normed = (value - mean(value)) / sd(value)
) %>%
select(-value) %>%
group_by(var, tran, value_normed) %>%
arrange(var, tran, value_normed) %>%
summarise(
    k = n()
) %>%
mutate(
    empirical = cumsum(k) / sum(k),
    theoretical = pnorm(value_normed),
    diff_L2 = k*(empirical - theoretical)**2
) %>%
group_by(var, tran) %>%
summarise(
    L2_distance = sum(diff_L2)
) -> df2

df2 %>% head

  var          tran L2_distance
1 BedroomAbvGr log  104.29266
2 BedroomAbvGr sqrt 111.96468
3 BedroomAbvGr x    134.35462
4 BsmtFinSF1   log   95.80909
5 BsmtFinSF1   sqrt  49.92343
6 BsmtFinSF1   x     30.47639

In [71]:
df2 %>%
group_by(var) %>%
nest %>%
mutate(
    best_tran = map(data, function(df) {
        best <- df %>% arrange(L2_distance) %>% head(1)
        vanilla <- df %>% filter(tran == 'x')
        progress_score <- 100 * (vanilla$L2_distance - best$L2_distance) / vanilla$L2_distance
        data_frame(tran = best$tran, progress_score = progress_score)
    })
) %>%
select(var, best_tran) %>%
unnest(best_tran) %>%
filter(tran != 'x') %>%
arrange(desc(progress_score)) -> df3

df3

   var          tran progress_score
1  GrLivArea    log  91.15794157
2  X1stFlrSF    log  90.77165686
3  BsmtUnfSF    sqrt 79.97603070
4  LotArea      log  73.38993454
5  TotRmsAbvGrd log  30.68501506
6  OverallQual  log  29.94435652
7  GarageCars   log  24.95676474
8  BedroomAbvGr log  22.37508601
9  OverallCond  log  16.24723935
10 FullBath     sqrt  4.71886362
11 Fireplaces   sqrt  3.33847135
12 KitchenAbvGr sqrt  2.41047709
13 YrSold       log   0.05561352